@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');

:root {
    --primary: hsl(179, 62%, 43%);
    --secondary: hsl(71, 73%, 54%);
    --neutral: hsl(218, 22%, 67%);
    --background: hsl(204, 43%, 93%);
    --primary-light: hsl(179, 47%, 52%);
}

html {
    font-family: 'Karla', sans-serif;
    font-size: 16px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--background);
    padding: 100px 30px;
}

div {
    display: grid;
    grid-template-columns: 100%;
    max-width: 550px;
    margin: 0 auto;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0px 0px 14px 1px #00000024;
    background-color: white;
}

section {
    padding: 0 1.8em 1rem 2rem;
}

.info {
    padding-top: 2.5rem;
}

.info h2 {
    font-size: 1.3rem;
    color: var(--primary);
    margin-bottom: 1.5rem;
}

.info h3 {
    font-size: 1rem;
    font-weight: 700;
    color: var(--secondary);
    margin-bottom: 1.5rem;
}

.info p {
    color: var(--neutral);
    margin-bottom: 1rem;
}

.price {
    background-color: var(--primary);
    color: white;
    padding-top: 1.5rem;
}

.price h3 {
    font-size: 1.3rem;
}

.price p {
    font-size: 1rem;
}

.pricing {
    padding: 1.5rem 0 1rem 0;
    color: #71DADC;
}

.price p > span {
    display: inline;
    vertical-align: middle;
    color: white;
    font-size: 2rem;
    padding-right: 0.75rem;
}

#low {
    color: var(--background);
    font-size: 1rem;
    display: inline;
}

.price button {
    display: block;
    width: 100%;
    background-color: var(--secondary);
    border: none;
    padding: 1rem 0;
    font-size: 1.3rem;
    color: white;
    border-radius: 9px;
    margin-top: 2rem;
    margin-bottom: 1rem;
    -webkit-box-shadow: 8px 8px 18px -7px rgba(0,0,0,0.4); 
    box-shadow: 8px 8px 18px -7px rgba(0,0,0,0.4);
}

.why-us {
    background-color: var(--primary-light);
    color: white;
    padding-top: 1.5rem;
}

.why-us h3 {
    padding-bottom: 1.5rem;
}

.why-us ul {
    list-style-type: none;
    font-size: 0.9rem;
    color: var(--background);
    padding-bottom: 1rem;
}

.why-us li {
    margin-bottom: 0.2rem;
    color: #9BEAED;
}

@media screen and (min-width: 768px){
    div {
        grid-template-columns: 1fr 1fr;
        max-width: 600px;
    }
    div .info {
        grid-area: 1 / 1 / 2 / 3;
    }
    div .price,
    div .why-us {
        grid-row: 2;
    }
}